.table{
    font-size: .95em;
    color: #CED4DA;
}


$table-cell-padding-y:        .7rem;
$table-cell-padding-x:        .7rem;

tr{
    border-bottom: rgba(255, 255, 255, 0.1);
}

.table-small{
    font-size: 14px;
}

